<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>

  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <script defer src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <link rel="stylesheet" href="style.css">

  <title>projectWe</title>
</head>

<body>
  <div id="video-grid"></div>

  <div class="bottom-bar">
    <div class="meeting-url-copier">
      <div class="copy-to-clipboard-icon icon">
        <ion-icon name="copy-outline"></ion-icon>      
      </div>
    </div>

    <div class="call-controls">
      <div class="video-toggle-icon icon" onclick="toggleVideo()">
        <ion-icon name="videocam-outline"></ion-icon>
      </div>
      <div class="end-call-icon icon">
        <ion-icon name="call-outline"></ion-icon>
      </div>
      <div class="audio-toggle-icon icon" onclick="toggleAudio()">
        <ion-icon name="mic-outline"></ion-icon>
      </div>
    </div>

    <div class="share-screen-section">
      <div class="share-screen-icon icon">
        <ion-icon name="share-outline"></ion-icon>
      </div>
      <div class="stop-screen-share-icon icon">
        <ion-icon name="stop-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="side-pannel-section">
    <div class="side-pannel-controls">
      <div class="chat-button side-pannel-button">
        <ion-icon name="chatbox-outline"></ion-icon>
      </div>
    </div>
    <div class="chat-window">
      <ul class="messages"></ul>
    </div>
    <div class="chat-input">
      <input class="chat-message" type="text" placeholder="Message everyone here..."/>
      <div class="send-icon icon">
        <ion-icon name="send-outline"></ion-icon>
      </div>
    </div>
  </div>
</body>
</html>
